.paginator {
    margin: 10px;
    cursor: pointer;
}

.pageNumber {
    padding: 2px;
    border: 1px solid black;
}

.selectedPage {
    padding: 2px;
    font-weight: bold;
    background-color: aqua;
    border: 1px solid black;
}